<div class="cardOne">

    <div>



        <p class="normalText">
            Calculate</p>
    </div>



    <div>
        <p class="normalText">
            V = voltage (in volts)<br>

            I = current (in amps)<br>

            R = resistance (in ohms)<br>

            P = power (in watts)</p>
    </div>

</div>





<div>
    <button class="normalTextButton" (click)="toggleVolt()">calc volt</button>

    <button class="normalTextButton" (click)="toggleAmp()">calc amp</button>

    <button class="normalTextButton" (click)="toggleOhm()">calc ohm</button>



</div>

<div [@openClose]="voltIsOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now volt {{ voltIsOpen ? 'Open' : 'Closed' }}!</p>
</div>




<div [@openClose]="ampIsOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now amp {{ ampIsOpen ? 'Open' : 'Closed' }}!</p>
</div>



<div [@openClose]="ohmIsOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now ohm {{ ohmIsOpen ? 'Open' : 'Closed' }}!</p>
</div>

<app-voltageforms></app-voltageforms>


