/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
p {
    color: greenyellow;
    font-family: 'Source Code Pro', monospace;
}

.normalTextButton {
    color: greenyellow;
    font-family: 'Source Code Pro', monospace;
    background-color: gray;
}

